.list_all_post {
  /* display: grid; */
  gap: 2rem;
  width: 100%;
  padding: 2rem 0;
  overflow: auto;
  margin-top: 2rem;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  /* justify-content: space-evenly; */
  /* grid-template-columns: auto auto auto; */
  /* grid-template-rows: auto; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-flow: column wrap; */
  /*justify-content: space-between;*/
  align-items: stretch;
  align-content: stretch;
  min-width: 22rem;
}

.card {
  background-color: var(--bg-filter);
  height: 24rem;
  position: relative;
  display: flex;
  
  aspect-ratio: 3/4.34;
 
  overflow: hidden;
  border-radius: 1.5rem;
  scroll-snap-align: start;
  scroll-margin-top: 1rem;
  transform-origin: center;
  animation: scaleIn 0.2s ease-out forwards;
  max-height: 30em;
  flex-shrink: 1;
  flex-grow: 1;
  cursor: pointer;
}

.card.disbale_click {
	pointer-events: none;
	cursor: not-allowed;
}


.card.double-card {
  opacity: 1;
	/*flex: 0 0 calc(2 * (100% / 4) - 2rem);
	aspect-ratio: 3 / 2.17;*/
}


.card .post {
  height: 100%;
  width: 100%;
  left: 0;
  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card .post img,
.card .custom-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.card .custom-text {
  width: 100%;
 left: 50%;
  transform: translateX(-50%);
  border: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  overflow-y: auto;
  height: 57%;
  position: relative;
}

/* Stil für das Audio-Element */




.card .post .shadow {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
 
  position: absolute;
  
 
background: linear-gradient(to bottom,  rgba(0,0,0,0.16) 0%,rgba(0,0,0,0.01) 26%,rgba(0,0,0,0) 27%,rgba(0,0,0,0) 55%,rgba(0,0,0,0) 56%,rgba(0,0,0,0.22) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


background-blend-mode: normal, luminosity, normal, normal;
	z-index: 2;
 
  transition: 0.3s all;

}
.card:hover .post .shadow {
  background-color: rgba(0,0,0,0.3);
}

.card  .post-inhalt {
	position: absolute;
	top: 0rem;
	height: 100%;
	width: 100%;
	padding: 1rem;
	left: 0;
	color: var(--white);
	z-index: 2;
	display: flex;
  flex-direction: column;
  gap: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-word;
}

.card .post-inhalt .card-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.card-header-left {
	display: flex;
	align-items: flex-start;
	gap: 10px;
  max-width: 60%;
}
.card-header-left .username-slug span {
	display: block;
}
.card-header-left .username-slug span.profile_id{
  font-style: normal;
  font-weight: 400;
  opacity: 0.7;
}
.card-header-left .post-userImg{
  margin-top: 3px;
}
.card .post-inhalt .post-content {
	margin-top: 20px;
}

.card .post-inhalt .post-title {
	
	margin: 0 !important;
	
  position: relative;
  padding-right: 83px;
}

.card .post-inhalt .post-title  .timeAgo {
	
	font-weight: 400;
  font-style: normal;
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: 5px;
  
}
.card .post-inhalt .post-text{
  margin-top: 16px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  
}
.card-header-right .follow-button {
	
line-height: 40px;
  font-size: 16px;
	padding: 0 16px;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 34px;
  padding: 0 16px;

  /* background-color: transparent;
  border-color: var(--white); */
}
/* .card-header-right .follow-button.following {
 background-color:var(--button-hover);
	border-color: var(--button-hover);
} */
.card  .post-userImg {
	
	
	border: 1px solid var(--text-color);
	
}
.card  .post-userName {
	
  cursor: pointer;
	/*text-shadow: 0 0 4px var(--black), 1px 1px 1px black;
	filter: drop-shadow(0 0 5px black);*/
  font-weight: 700;
  font-style: italic;
  
}




.card .post-inhalt .hashtags {
	color: var(--blue-text, #0069FF);
  margin-top: 20px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card .post-inhalt .hashtags:empty {
	margin: 0;
}
.card .post-inhalt .hashtags span {
	padding-right: 12px;
	display: inline-block;
	padding-bottom: 7px;
}

.card .social {
	display: flex;
	
	margin: 0;
	flex-direction: row;
	align-items: center;
	width: 100%;
	margin-top: auto;
	gap: 5%;
}
.PINNED.card .social {
  margin-top: 0;
}
.card .social div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.card .social div i {
	line-height: 0;
}
.card .social div.active i{
  color: red;
  animation: pulse 2s;
  
}
.card .social div.post-like.active i::before {
	content: "\e81e";
	
	
  
}
.card .social div.post-dislike.active i::before {
	content: "\e824";
	

}

.card .social div.post-view {
	order: 4;
	margin-left: auto;
	flex-direction: row-reverse;
	opacity: 0.5;
}
.card .social svg {
  height: 1.4rem;
  aspect-ratio: 1 / 1;
}

.card .social svg use,
.commentsButtons svg use {
  fill: transparent;
  stroke: var(--text-color);
}
/*--------Text---------*/

.card[content="text"] .post .shadow{ display: none;}

.card[content="text"] .post-inhalt .post-text{
  
  line-clamp: 3;
  -webkit-line-clamp: 3;
 
  
}

/*-------- Image ----------*/
.card[content="image"] .post img{
  opacity: 0;
  transition: all 0.3s ease-in-out;

}
.card[content="image"] .post img.active{
 
  opacity: 1;
}
.card[content="image"]  .post-inhalt {
	
	justify-content: end;
}

.card[content="image"]  .post-inhalt .card-header {
	margin-bottom: auto;
}

.card[content="image"] .social {
	
	margin-top: 0; 
	
}

.card[content="image"] .post-inhalt  .image_counter {
	flex: 1;
	align-items: end;
	display: flex;
  gap: 6px;
  justify-content: center;
	cursor: pointer;
	transform: translateY(20px);
	transition: 0.6s all;
}
.card[content="image"] .post-inhalt:hover .image_counter {
  transform: translateY(0);
}
.card[content="image"] .post-inhalt .image_counter span {
	font-size: 0;
	background-color: var(--white-secondary, rgba(255, 255, 255, 0.50));
	height: 10px;
	width: 10px;
	border-radius: 100%;
}
.card[content="image"] .post-inhalt .image_counter span.active{
  background-color: var(--white, #fff);
}
.card[content="image"] .post-inhalt .post-content {
	transition: 0.3s all;
	transform: translateY(100%);
	height: 0;
	overflow: hidden;
  opacity: 0;
}
.card[content="image"] .post-inhalt:hover .post-content {
	transform: translateY(0);
	overflow: visible;
  height: auto;
  opacity: 1;
  
}

/*--------Video ------------*/
 .card .create-video,
.card .custom-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card[content="video"] .post img {
	
	z-index: 2;
}
.card[content="video"] .post-inhalt .video-player .video-ratio,
.card .custom-video {
	display: none;
}
.card[content="video"] .post-inhalt .video-player .video-ratio.video-ratio-1
{
  display: flex;
}
.card .custom-video.video_1 {
	display: block;
}
.card[content="video"]  .post-inhalt .video-player {
	flex: 1;
	align-items: end;
	display: flex;
  cursor: pointer;
  transform: translateY(20px);
transition: 0.6s all;
}
.card[content="video"] .post-inhalt:hover .video-player {
	transform: translateY(0);
}
.card[content="video"]  .post-inhalt  .video-player img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	margin-top: -80px;
	transition: 0.3s all;
	opacity: 0;
}
.card[content="video"]  .post-inhalt  .video-player .video-ratio {
	
	line-height: 62px;
	border-radius: 50px;
	background: rgba(0, 105, 255, 0.50);
	backdrop-filter: blur(2.5px);
	padding: 0 30px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.card[content="video"].multi-video .post-inhalt .video-player .video-ratio {

	position: relative;
}
.card[content="video"].multi-video .post-inhalt .video-player .video-ratio::before, 
.card[content="video"].multi-video .post-inhalt .video-player .video-ratio::after {
	content: "";
	width: 10px;
	height: 10px;
	background-color:  var(--white,#fff);
	border-radius: 100%;
	order: 1;
	backdrop-filter: blur(2.5px);
}
.card[content="video"].multi-video .post-inhalt .video-player .video-ratio::after {
	background-color: var(--white-secondary,rgba(255,255,255,0.5));
}
.card[content="video"] .post-inhalt:hover .video-player img {
  opacity: 1;
}
.card[content="video"]  .post-inhalt {
	
	justify-content: end;
}
.card[content="video"]  .post-inhalt .card-header {
	margin-bottom: auto;
}

.card[content="video"] .social {
	
	margin-top: 0; 
	
}
.card[content="video"] .post-inhalt .post-content {
	transition: 0.3s all;
	transform: translateY(100%);
	height: 0;
	overflow: hidden;
  opacity: 0;
  margin-top: 0;
}
.card[content="video"] .post-inhalt:hover .post-content {
	transform: translateY(0);
	overflow: visible;
  height: auto;
  opacity: 1;
  
}

/*----------Audio---------------*/


.card[content="audio"] .post{
  background-image: url(../img/audio-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: none;
}
.card[content="audio"] .post-inhalt .audio-player{
transform: translateY(20px);
transition: 0.6s all;
}
.card[content="audio"] .post-inhalt:hover .audio-player {
	transform: translateY(0);
}
.card[content="audio"] .post-inhalt .audio-player{
  position: relative;
}
.card[content="audio"] .post-inhalt .audio-player span{
  position: absolute;
  left: 0;
  bottom: 16px;
  opacity: 0.7;
}
.card[content="audio"] .post-inhalt .audio-player img {
	display: block;
	width: 100%;
}
.card[content="audio"]  .post-inhalt {
	
	justify-content: end;
}
.card[content="audio"]  .post-inhalt .card-header {
	margin-bottom: auto;
}
.card[content="audio"] .social {
	
	margin-top: 0; 
	
}
.card[content="audio"] .post-inhalt .post-content {
	transition: 0.3s all;
	transform: translateY(100%);
	height: 0;
	overflow: hidden;
  opacity: 0;
}
.card[content="audio"] .post-inhalt:hover .post-content {
	transform: translateY(0);
	overflow: visible;
  height: auto;
  opacity: 1;
  
}


.custom-audio {
  display: none;
  width: 90%; /* Breite des Players */
  height: 4rem; /* Höhe des Players */
  background-color: #f0f0f0; /* Hintergrundfarbe */
  border: 2px solid #007bff; /* Blauer Rahmen */
  border-radius: 8px; /* Abgerundete Ecken */
  padding: 5px; /* Abstand im Player */
}

/* Optional: Hover-Effekt */
.custom-audio:hover {
  background-color: #e0e0e0;
  border-color: #0056b3;
}


@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}

.fill-red use {
  fill: red !important;
  stroke: red !important;
  transform-origin: 50% 50%;
  animation: pulse 2s;
}


.postViewShow {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: #4848487d;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 2;
}

.btAdd {
  position: absolute;
  top: -0rem;
  right: -0rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  padding: 0.5rem;
  transform: rotateZ(45deg);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: auto;
  background-color: red;
  cursor: pointer;
}

.deletePost {
  z-index:1;
  top: -1rem;
  right: -1rem;
  transition: all 0.3s ease-in-out;
}
.deletePost:hover {
  background-color: red;
}

.icon.settings {
  font-size: 1.2em;
}

.offline {
  background-color: red;
  color: var(--black);
  font-weight: bold;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

.noscroll {
  overflow: hidden;
}
#dropdownMenu {
  position: absolute;
  z-index: 4;
  margin-left: 1rem;
  margin-top: -1rem;
}
.dropdown-item {
  padding: 0.3rem;
  background-color: #ddd;
  color: #000;
  border-radius: 0.5rem;
  margin: 0.1rem 0 0.1rem 0;
  width: 13rem;
}
.dropdown-item:hover {
  background-color: #ccc;
  cursor: pointer;
}
#commentInput {
  width: 0;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  background-color: #b0b0b0;
  padding-left: 0;
  color: #000;
  font-size: 0.9rem;
  transition: all 0.5s;
  resize: vertical;
  max-width: calc(100cqw - 12rem);
  position: absolute;
  z-index: 3;
  transform: translateY(8rem);
}
#commentInput:focus {
  border: 1px solid #eee;
  width: 90cqw;
  padding-left: 1rem;
}

.comment-reply {
  margin-left: 3rem;
}

/*--------- Hidden account frame -----------*/


.card-header-left.hidden_user_profile .hidden_userfeed_frame {
  position: absolute;
  top: 5%;
  left: 5%;
  bottom: 0;
  height: fit-content;
  z-index: 10;
  cursor: pointer;
}

.hidden_userfeed_frame .hidden_content {
  display: flex;
  gap: 10px; 
}


.hidden_user_profile .post-userImg,
.hidden_user_profile .username-slug .post-userName,
.hidden_user_profile .username-slug span.profile_id {
  filter: blur(4px);
}


/*--------- End : Hidden account frame -----------*/

@media screen and (max-width: 2000px) {

    .card .post-userName {	font-size: 15px;}
    .card .post-inhalt .post-title {	padding-right: 30px;	font-size: 20px;}
    .card .post-inhalt .post-text {  margin-top: 5px;  font-size: 16px;  line-height: 20px;}
    .card .post-inhalt .post-title .timeAgo {	font-size: 14px;}
    .card-header-right .follow-button {	line-height: 36px;	font-size: 13px;}
    .card .social {	font-size: 17px;}
    .card .post-inhalt .hashtags {	display: flex;	flex-wrap: wrap;}
    .card .post-inhalt .hashtags span {	padding-right: 7px;padding-bottom: 4px;	font-size: 14px;	line-height: 18px;}
    .card[content="video"] .post-inhalt .video-player .video-ratio {line-height: 35px;	padding: 0 20px;	font-size: 15px;}
    .card[content="video"] .post-inhalt .video-player img {	margin-top: -20px;	width: 30px;}
    .card[content="audio"] .post-inhalt .audio-player span {	bottom: 11px;	font-size: 12px;}
    .card .post-inhalt .post-content {	margin-top: 0;}

}
@media screen and (min-width: 2000px) and (max-width: 3000px){
  .card[content="video"] .post-inhalt .video-player .video-ratio {line-height: 35px;	padding: 0 20px;	font-size: 15px;}
    .card[content="video"] .post-inhalt .video-player img {	margin-top: -20px;	width: 30px;}
    .card[content="audio"] .post-inhalt .audio-player span {	bottom: 11px;	font-size: 12px;}

    .card {
	    height: 30rem;
	  }
   
    
    .card .post-userImg {

    width: 2.375rem;
    height: 2.375rem;
    }
    .card-header-right .follow-button {
    
    line-height: 40px;
    padding: 0 20px;
    font-size: 18px;
    font-size: clamp(1rem, 0.75rem + 0.2vw, 1.125rem);
    }

      .card .post-inhalt .post-title {padding-right: 40px;}
      .card .post-inhalt .hashtags {	margin-top: 12px;	display: flex;	flex-wrap: wrap;}
      .card .post-inhalt .hashtags span {
          padding-right: 9px;
          
          padding-bottom: 2px;
          font-size: 17px;
        }
  

}

@media screen and (min-width: 1000px) {

	.list_all_post {
		gap: 4rem;
	}
	.card {
	  height: 46rem;
	}
  .card .post-inhalt {
  	padding: 1.875rem;
	
  }
  .card .post-userImg {
   
    width: 4.375rem;
    height: 4.375rem;
  }
  .card-header-right .follow-button {
    min-width: 180px;
    line-height: 66px;
    border-width: 3px;
   
  }
   .card-header-right button {
    min-width: 180px;
    line-height: 66px;
    border-width: 3px;
  
    font-size: clamp(1.5rem, 1.25rem + 0.2vw, 1.75rem) !important;
	
  }
  
  
  .card .post-inhalt .post-title {padding-right: 80px;}
}
