.setting-layout .setting-content .profile-widget {
  display: none;
}

.setting-layout .setting-content .profile-widget.active {
  display: block;
}

.setting-content .edit-profile {
  margin-bottom: 1.5rem;
}

.setting-content .edit-profile .section_heading {
  margin-bottom: 1.5rem;
}

.setting-content .edit-profile .profile_picture {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.setting-content .edit-profile .profile_picture .cropContainer {
  position: relative;
}

.setting-content .edit-profile .profile_picture .cropContainer .online_status {
  position: absolute;
  right: 15px;
  top: 15px;
}

.setting-content .edit-profile .profile_picture img.profile-picture {
  width: 150px;
}

.setting-layout .setting-content .change-password-email {
  display: flex;
  justify-content: space-between;
}

.setting-layout .setting-content .change-password-email .button {
  width: 48%;
  margin-bottom: 1.5rem;
}

.setting-layout .setting-content .logout-deactivate-buttons .button {
  margin-bottom: 1.5rem;
}

.button.change-picture::after {
  content: "";
  display: inline-block;
  background-image: url(../svg/icon-camera.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 15px;
}

.button.logout-btn::after {
  content: "";
  display: inline-block;
  background-image: url(../svg/logOut.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 15px;

}

.button.logout-btn:hover::after {
  filter: brightness(0) invert(1);
}

.profile-back-button.hide {
  display: none;
}

.profile-back-button {
  /*position: fixed;
  bottom: 30px;*/
  margin-top: auto;
}

.profile-back-button a {
  display: block;
 /* min-width: 256px;*/
  margin-bottom: 0;
}

.setting-content .input-field {
  margin: 1rem auto;
  background: var(--bg-filter);
}

.profile-back-button a::before {
  content: "";
  display: inline-block;
  background-image: url(../svg/back-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 15px;
}

.profile-back-button a:hover::before {
  filter: brightness(0) invert(0);
}

.setting-content .input-field.transparent {
  padding: 1rem 2rem;
  background: var(--bg-filter);
  border-radius: 50px;
  margin: 0 0 1.5rem 0;
  position: relative;
  display: flex;
  align-items: start;
}

.setting-content .input-field a#changeusernamebtn {
  margin-left: auto;

  color: var(--white);
}

.setting-content .input-field a#changeusernamebtn:hover {
  text-decoration: none;
  color: var(--link-hover-color);
}

.setting-content .input-field label {
  margin-right: 20px;
  font-weight: 700;
  color: var(--stat-p);
}

.setting-content .input-field.transparent input,
.setting-content .input-field.transparent textarea {
  width: 100%;
  font-size: inherit;
  background-color: transparent;
  border: 0;
  color: #fff;
  padding: 0 20px;
  margin: 0;
  border-radius: 0;
}

.setting-content .input-field input:focus-visible,
.setting-content .input-field textarea:focus-visible {
  border: 0;
  outline: 0;
}

.response_msg {
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
	padding: 50px;
	border-radius: 60px;
	text-align: center;
	width: auto;
	position: relative;
	box-shadow: none;
}

.modal-content svg {
	margin-bottom: 30px;
	width: 80px;
	height: auto;
}
.modal-title {
  font-weight: 700;
  letter-spacing: 1.28px;
}

.modal-content .button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.modal-content .button-row button {
  width: 46%;
}

.modal-content-heading {
  text-align: left;
}

.closeBtn {
  position: absolute;
  top: 23px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.closeBtn img {
  width: 20px;
}

.image-preview-wrapper {
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-preview-wrapper img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.img-zoom {
  opacity: 1;
  height: 0;
  overflow: hidden;
}

/******/
/* Container */

.setting-content .reported-content-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:var(--dark-inactive, #323232);
	padding: 25px 30px;
	border-radius: 100px;

}

/* Toggle wrapper */
.switch {
	position: relative;
	display: block;
	width: 70px;
	height: 35px;
}

/* Hide the checkbox */
.switch input {
 
  width: 0;
  height: 0;
  display: none;
}

/* Background */
.switch > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
  background-color: var(--white, #fff);
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden;
}
.switch input:checked + span {
	background-color: var(--blue, #0069FF);
}

/* Knob */
.switch > span::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: var(--blue, #0069FF);
	border-radius: 50%;
	transition: transform 0.3s ease;
	z-index: 1;
}
.switch input:checked + span::before {
	background-color: var(--white, #fff);
}
/* Labels */
.switch .label-on,
.switch .label-off {
  
  font-weight: 500;
  color:var(--black, #000);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 0;
  pointer-events: none;
  padding: 0 ;
}
.switch input:checked + span .label-on{
  color: var(--white, #fff);
}

/* Default state: show "off" */
.switch .label-off {
 
  opacity: 1;
  
}

.switch .label-on {
 
  opacity: 0;
  transform: translateX(0);
  padding-right: 0;
}

/* Checked: move knob + show "on" */
.switch input:checked + span::before {
  transform: translateX(calc(100% + 10px));
}

.switch input:checked + span .label-off {
	opacity: 0;
}

.switch input:checked + span .label-on {
  opacity: 1;
 
}
/*
@media screen and (min-width: 2000px) {
  .setting-layout .setting-menu ul li a{
    line-height: 100px;
  }
  .setting-content .reported-content-btn {
    padding: 25px 40px;
    
  }
  .modal-content svg {
      
    width: 100px;
    height: auto;
  }
  .switch {
    
    width: 120px;
    height: 56px;
  }
  .switch > span::before {
   
    width: 40px;
    height: 40px;
    
  }
  .switch .label-on, .switch .label-off {
    padding: 0 10px;
  }
  .switch input:checked + span::before {
    transform: translateX(calc(100% + 20px));
  }

}*/

/*-- changed min-width 3000px to 1000px becuase we are now use 4k css with zoom --*/
@media screen and (min-width: 1000px) {
  .setting-content .edit-profile .profile_picture img.profile-picture {
    width: 300px;
  }
  .setting-content .edit-profile .profile_picture .cropContainer .online_status {
   
    right: 30px;
    top: 20px;
    width: 30px;
    height: 30px;
  }
  .setting-content .input-field.transparent {
    padding: 3rem 5rem;
    border-radius: 80px;
  }

  .setting-content .input-field.username-row {
    padding: 1rem 5rem;
    border-radius: 100px;
    line-height: 100px;
  }
  .setting-content .reported-content-btn {
	
    padding: 50px 80px;
    
  }
  .modal-content {
    padding: 80px;
    border-radius: 100px;
  }
  .modal-title {
    font-size: 64px;
		font-size: clamp(2.5rem, 1rem + 1.2vw, 4rem);
  }
  .modal-message {
    font-size: 45px;
		font-size: clamp(1.875rem, 0.9375rem + 0.75vw, 2.8125rem);
  }
  .modal-content svg {
   
    width: 186px;
  }
  .switch {
	  width: 200px;
	  height: 90px;
  }
  .switch > span::before {
   
    width: 70px;
    height: 70px;
    
  }
  .switch .label-on, .switch .label-off {
    padding: 0 30px;
  }
  .switch input:checked + span::before {
    transform: translateX(calc(100% + 35px));
  }
  

}
