.image-wrapper {
  width: auto;
  max-height: 30vh;
  border-radius: 2em;
}
#addPost .preview-container {
  align-items: center;
}
.drop-preview-area {
  height: 30vh !important;
}
.drop-area {
  aspect-ratio: 1;
  height: 30vh !important;
}
.inner-container {
  /* max-width: 64vw; */
  padding: 0;
}
