/* components/password.css */
.strength-bar {
  display: flex;
  gap: 0.4rem;
  margin: 6px 0 6px 20px;
  height: 3px;
  width: 40%;
}

.bar-segment {
  flex: 1;
  border-radius: 4px;
  background-color: #ddd;
  transition: background-color 0.3s;
}

.bar-segment.weak {
  background-color: #ff4d4d;
}
.bar-segment.medium {
  background-color: #ffcc00;
}
.bar-segment.strong {
  background-color: #4caf50;
}

.input-field {
  display: flex;
  background: var(--input-background);
  border-radius: 800px;
  margin: 0.3rem 0;
  position: relative;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
}
.input-field img {
  width: 1.1rem;
}
.input-text {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--input-textcolor);
  width: 100%;
  border: none;
  background-color: transparent !important;

  line-height: 50px;
}

.validationMessage {
	color: red;
	line-height: 18px;
  display: block;
  text-align: center;
}

.success {
  color: #4caf50;
}

.notvalid,.error {
  color: red;
}

input:focus + label {
  display: none;
}

.input-field.valid .tick {
  filter: brightness(0) saturate(100%) invert(48%) sepia(91%) saturate(363%) hue-rotate(63deg) brightness(92%) contrast(92%);
}

.tick {
  opacity: 0.5;
}

.seePass {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
  filter: invert(1) brightness(1);
}

.valid {
  border: 2px solid green;
  background-color: #e0ffe0;
  /* Hellgrüner Hintergrund */
}

/* Stil für ungültige E-Mail */
.invalid {
  border: 2px solid red;
  background-color: #ffe0e0;
  /* Hellroter Hintergrund */
}

@media (max-width: 1500px) {
  .input-text {
    line-height: 40px;
    font-size: clamp(0.6rem, 1vw, 0.8rem);
  }

  .input-field img {
    width: clamp(0.8rem, 1vw, 1.1rem);
  }

  .validationMessage {
    font-size: clamp(0.5rem, 1vw, 16px);
  }
}

.none {
  display: none;
}
