.site_layout_nonuser header.site-header {
	
	padding: 30px;
	
}

.site_layout_nonuser header.site-header h1 {
	margin: 0;
	font-size: 0;
	opacity: 0;
}
.site-logo {
	position: absolute;
	left: 0;
}
.site_layout_nonuser .site-logo .logo {
    width: 10rem !important;
  }
.site-main-nonuser {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}
.site-main-nonuser-inner{
	display: flex;
	flex-direction: column;
	padding: 0 90px;
	height: 100vh;
	max-width: 2600px;
  	width: 100%;
	gap: 2vh;
}
.site_layout_nonuser .viewpost {
	position: relative;
	top: auto;
	left: auto;
	width: 100%;
  	height: 70vh;
	z-index: 5;
	background-color: transparent;
	-webkit-backdrop-filter:unset;
	backdrop-filter: unset;
	display: block !important;
}
.site_layout_nonuser .viewpost .viewpost-right {
	
	overflow: hidden;
}
.site_layout_nonuser .viewpost .inner-container .btClose{
	display: none;
}

.site_layout_nonuser .viewpost .inner-container {
	width: 100%;
  	height: 100%;
	left: auto;
	transform: unset;
	top: auto;
	position: relative;
	flex-wrap: nowrap;
	
}
.view-only-mode {
	text-align: center;
	padding: 30px 0;
	height: 15vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
}
.view-only-mode .view-only-mode-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding-bottom: 15px;
}

.signup-button-container {
	padding: 30px 0;
	text-align: center;
	height: 15vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.signup-button-container .button {
	margin-bottom: 0;
	max-width: 632px;
	width: 100%;
	font-weight: 700;
}
.site-main-nonuser.postloader .viewpost .inner-container::before {
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color:var(--dark-inactive, #323232);
	border-radius: 70px;
	z-index: 3;
}
.site-main-nonuser.postloader .viewpost .inner-container::after {
	content: "";
	position: absolute;
	z-index: 3;
	background-image: url("../svg/logo_farbe.svg");
	width: 200px;
	height: 200px;
	animation: loading 4s ease 0s infinite;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
}

.site-main-nonuser .report-btn-container{ display: none !important;}
.viewpost .postview_footer .more ul.sublist li.reportpostli{
	display: none !important;
}

@media screen and (min-width: 2000px) {
  .site_layout_nonuser .site-logo .logo {
    width: 15rem !important;
   }
   .site-main-nonuser-inner{
		max-width: 2000px;
	}

  .viewpost .post_content .post_title {
    padding-right: 100px;
  }

  .viewpost .inner-container {
    width: 85vw;
  }
  .viewpost .profile-header-right .follow-button {
    min-width: 180px;
    line-height: 45px;
    border-width: 2px;
  }
  .comment_list .comment_item {
    gap: 20px;
  }
  .comment_list .comment_item .timeagao {
    padding-left: 30px;
  }
  .comment_list .comment_item .timeagao::before {
    border-width: 3px;
    left: 11px;
    top: 10px;
  }

  .comment_list .comment_item .commenter_info {
    margin-bottom: 15px;
  }
  .comment_list .comment_item .comment_reply_container {
    margin-top: 15px;
  }
  .post_comment {
    height: 130px;
  }
  .post_comment button {
    width: 76px;
    padding: 15px;
    height: 76px;
  }
  .post_comment textarea {
    height: 26px;
  }
  .post_comment button i {
    font-size: 30px;
  }
  .viewpost .post_gallery {
    height: calc(100% - 100px);
  }
  .viewpost .post_gallery.multi .slider-wrapper {
    gap: 40px;
  }
  .viewpost .post_gallery.multi .slider-wrapper .slider-track {
    height: calc(100% - 140px);
  }

  .viewpost .post_gallery .slider-wrapper .slider-thumbnails {
    gap: 20px;
  }
  .viewpost .post_gallery .slider-wrapper .slider-thumbnails img {
    height: 90px;
    border-radius: 10px;
  }
  .viewpost .post_gallery .image_item .zoom {
    width: 100px;
    height: 100px;

    right: 30px;
    bottom: 50px;

    font-size: 40px;
  }
  .slider-modal .modal-nav {
    font-size: 30px;

    width: 100px;
    height: 100px;
  }
  .slider-modal .modal-thumbnail {
    height: 90px;
    border-radius: 15px;
  }
  .viewpost .postview_footer .more .share-post-box {
    width: 800px;
    right: -42px;
  }
  .share-post-apps .app-icon {
    padding: 20px;
  }
  .share-post-apps .app-icon svg {
    width: 40px;
    height: auto;
  }
  .share-post-link button {
    line-height: 80px;
    height: 80px;
    gap: 20px;
  }
  .share-post-link button svg {
    width: 37px;
    height: auto;
  }
}


@media screen and (min-width: 3000px) {
	.site_layout_nonuser .site-logo .logo {
		width: 17rem !important;
	}
	.site-main-nonuser-inner{
		max-width: 2600px;
	}

  .viewpost .post_content .post_title {
    padding-right: 150px;
  }
  .viewpost .post_content .post_text {
    margin-top: 30px;
  }
  .viewpost .inner-container {
    width: 68vw;
  }

  .viewpost .profile-header-left .post-userImg,
  .viewpost .comment_list .commenter-pic img {
    width: 8rem;
  }

  .viewpost .profile-header-right .follow-button {
    min-width: 250px;
    line-height: 66px;
    border-width: 3px;
  }
  .comment_list .comment_item {
    gap: 40px;
  }
  .comment_list .comment_item .timeagao {
    padding-left: 40px;
  }
  .comment_list .comment_item .timeagao::before {
    border-width: 5px;
    left: 16px;
    top: 15px;
  }
  .comment_list .comment_item .commenter_info {
    margin-bottom: 27px;
  }
  .comment_list .comment_item .comment_reply_container {
    margin-top: 30px;
  }
  .comment_list .comment_item .comment_reply_container .reply_btn a span,
  .viewpost .postview_footer .more a.morebtn span.dots {
    border-width: 5px;
    margin-left: 80px;
  }
  .comment_list
    .comment_item
    .comment_reply_container
    .reply_btn
    a
    span::before,
  .comment_list .comment_item .comment_reply_container .reply_btn a span::after,
  .viewpost .postview_footer .more a.morebtn span.dots::before,
  .viewpost .postview_footer .more a.morebtn span.dots::after {
    top: -4px;
    left: -35px;
    border-width: 5px;
  }
  .comment_list .comment_item .comment_reply_container .reply_btn a span::after,
  .viewpost .postview_footer .more a.morebtn span.dots::after {
    left: -20px;
  }

  .post_comment button {
    width: 110px;
    padding: 24px;
    height: 110px;
  }
  .post_comment textarea {
    height: 40px;
  }
  .viewpost .postview_footer .more ul.sublist {
    width: 500px;
    padding: 40px 40px 80px;
  }
  .viewpost .postview_footer .more ul.sublist > li > a {
    line-height: 130px;
  }

  .slider-modal .modal-nav {
    width: 150px;
    height: 150px;
    font-size: 55px;
    min-width: 100px;
  }
  .slider-modal .modal-thumbnail {
    height: 140px;
    border-radius: 20px;
  }
  .button.nav-button.next_button,
  .button.nav-button.prev_button {
    line-height: 0;
    min-width: 0;
  }
  .post_gallery.audio .audio-item .audio_player_con .time-info {
    min-width: 140px;
  }
  .viewpost .postview_footer .more .share-post-box {
    width: 1000px;
  }
  .share-post-apps .app-icon {
    padding: 40px;
  }
  .share-post-apps .app-icon svg {
    width: 80px;
    height: auto;
  }
  .share-post-link button {
    line-height: 100px;
    height: 100px;
    gap: 20px;
  }
  .share-post-link button svg {
    width: 37px;
    height: auto;
  }
}

@media screen and (max-width: 2300px) {
  .post_gallery.audio #play-pause {
    height: 150px;
  }
}
@media screen and (max-width: 2000px) {
	
	.view-only-mode .view-only-mode-heading svg {
		height: 25px;width: auto;
	}
	
}
@media screen and (max-width: 1800px) {
  .post_gallery.audio #play-pause {
    height: 100px;
  }
  .viewpost .inner-container {
    width: 95vw;
    height: 95vh;

    border-radius: 40px;

    padding: 40px;
  }
  .post_gallery.audio .audio-item {
    border-radius: 20px;
  }
  .viewpost .post_gallery .slide_item {
    border-radius: 20px;
  }
  .viewpost .post_gallery .slide_item {
    border-radius: 20px;
  }
  .viewpost .post_gallery .slider-wrapper .slider-thumbnails .timg i {
    font-size: 15px;
  }
}



@media screen and (max-width: 1400px) {
	.site-main-nonuser-inner {
		height: auto;
		padding: 15px;
	}
	.site-header.header-nonuser {
		position: relative;
		padding: 20px;
		text-align: center;
		justify-content: center;
	}
	.site_layout_nonuser header.site-header .logo {
		width: 10rem !important;
	}
	.site_layout_nonuser .viewpost .viewpost-left {
		width: 53%;
	}
	.site_layout_nonuser .viewpost {
		overflow: hidden;
	}
	
}

@media screen and (max-width: 768px) {
	.site-logo {
		position: relative;
		left: auto;
		margin-bottom: 10px;
	}
	.site_layout_nonuser .site-logo .logo {
		width: 8rem !important;
	}
	.view-only-mode .view-only-mode-heading svg {
		height: 16px; width: auto;
	}
	.site_layout_nonuser .viewpost {
		height: 60vh;
	}
	.signup-button-container {
  		padding: 15px; 
		height: 12vh;
	}
	.site-main-nonuser-inner {	padding: 0; height: 100%;}
	.view-only-mode {height: auto; padding: 15px 0;}

	.site_layout_nonuser .viewpost .post_gallery .slide_item {
		border-radius: 0;
	}
	.site_layout_nonuser .viewpost .inner-container {
		border-radius: 0;
		padding: 0;
		display: flex;
    	flex-direction: column-reverse;
		gap: 0;
		background: transparent;
	}
	.site-main-nonuser.postloader .viewpost .inner-container::before {
		border-radius: 0;
	}
	.site-main-nonuser.postloader .viewpost .inner-container::after {
	
		width: 150px;
		height: 150px;
		
	}
	.site_layout_nonuser .viewpost .post_gallery .slide_item .zoom {
		display: none;
	}

	.site_layout_nonuser .viewpost .viewpost-left {
		height: 88%;
		min-height: unset;
		width: 100%;
	}
	.site_layout_nonuser .viewpost .viewpost-right {
	
		padding: 0 20px;
	}
	
	.site_layout_nonuser .viewpost .viewpost-right .profile-header-right, 
	.site_layout_nonuser .viewpost .viewpost-right .post_content, 
	.site_layout_nonuser .viewpost .viewpost-right .comments-container, 
	.site_layout_nonuser .viewpost .viewpost-right .post_comment {
		display: none !important;
	}
	.site_layout_nonuser .viewpost .profile-header-left .post-userImg{
		width: 3rem;
	}
	.site_layout_nonuser .viewpost .profile-header-left .xl_font_size {
		font-size: 16px;
	}
	.site_layout_nonuser  .viewpost .postview_footer .more {
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.site_layout_nonuser .viewpost .postview_footer .more ul.sublist {
		bottom: auto;
		width: 250px;
		right: -16px;
		border-radius: 30px;
		padding: 50px 20px 20px;
		top: -20px;
	}
	.site_layout_nonuser .viewpost .postview_footer .more a.morebtn .textval {
		display: none;
	}
	.site_layout_nonuser .viewpost .postview_footer {
		position: static;
		padding: 0 20px;
	}
	.site_layout_nonuser .viewpost .post_gallery.multi .slider-wrapper .slider-track, .viewpost .post_gallery.images .slider-wrapper .slider-track {
	
		height: 100%;
	}
	.site_layout_nonuser .viewpost .post_gallery .slider-wrapper .slider-thumbnails .timg {
		width: 8px;
		height: 8px;
		background: rgba(255,255,255,0.8);
		border-radius: 100px;
	}
	.site_layout_nonuser .viewpost .post_gallery .slider-wrapper .slider-thumbnails .timg i {
		opacity: 0;
	}
	.site_layout_nonuser .viewpost .post_gallery .slider-wrapper .slider-thumbnails img {
	
		display: none;
	}
	.site_layout_nonuser .viewpost .post_gallery.multi .slider-wrapper .slider-thumbnails {
		display: flex;
		padding: 0 20px;
		justify-content: center;
		position: absolute;
  		bottom: 0;
	}

	.site_layout_nonuser .viewpost .post_gallery.audio .audio-item {
		border-radius: 0;
	}
	.site_layout_nonuser .viewpost	.post_gallery.audio #play-pause {
		height: 80px;
	}
	.site_layout_nonuser .viewpost .postview_footer .more .share-post-box {
		bottom: auto;
		gap: 30px;
		top: -20px;
    	right: -15px;
	}
	.site_layout_nonuser .postview_footer .more .share-post-box .btClose {
		top: 20px;
		right: 20px;
	}
}