.site_layout_nonuser header.site-header {
	
	padding: 30px;
	
}
.site_layout_nonuser header.site-header h1 {
	margin: 0;
	font-size: 0;
	opacity: 0;
}
.site_layout_nonuser header.site-header .logo {
    width: 10rem !important;
  }
.site-main-nonuser {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}
.site-main-nonuser-inner{
	display: flex;
	flex-direction: column;
	padding: 0 90px;
	height: 100vh;
	max-width: 2600px;
  	width: 100%;
	gap: 2vh;
}
.site_layout_nonuser .viewpost {
	position: relative;
	top: auto;
	left: auto;
	width: 100%;
  	height: 70vh;
	z-index: 5;
	background-color: transparent;
	-webkit-backdrop-filter:unset;
	backdrop-filter: unset;
	display: block !important;
}
.site_layout_nonuser .viewpost .inner-container .btClose{
	display: none;
}

.site_layout_nonuser .viewpost .inner-container {
	width: 100%;
  	height: 100%;
	left: auto;
	transform: unset;
	top: auto;
	position: relative;
	
}
.view-only-mode {
	text-align: center;
	padding: 30px 0;
	height: 15vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
}
.view-only-mode .view-only-mode-heading {
	display: flex;
	justify-content: center;
	gap: 15px;
	padding-bottom: 15px;
}

.signup-button-container {
	padding: 30px 0;
	text-align: center;
	height: 15vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.signup-button-container .button {
	margin-bottom: 0;
	max-width: 632px;
	width: 100%;
	font-weight: 700;
}
.site-main-nonuser.postloader .viewpost .inner-container::before {
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color:inherit;
	border-radius: 70px;
	z-index: 3;
}
.site-main-nonuser.postloader .viewpost .inner-container::after {
	content: "";
	position: absolute;
	z-index: 3;
	background-image: url("../svg/logo_farbe.svg");
	width: 200px;
	height: 200px;
	animation: loading 4s ease 0s infinite;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
}

@media screen and (min-width: 2000px) {
  .site_layout_nonuser header.site-header .logo {
    width: 18rem !important;
   }
   .site-main-nonuser-inner{
		max-width: 2000px;
	}
}
@media screen and (min-width: 3000px) {
	.site_layout_nonuser header.site-header .logo {
		width: 17rem !important;
	}
	.site-main-nonuser-inner{
		max-width: 2600px;
	}
}
@media screen and (max-width: 2000px) {
	.view-only-mode .view-only-mode-heading {
		gap: 0px;
	}
	.view-only-mode .view-only-mode-heading svg {
		height: 25px;
	}
	
}


@media screen and (max-width: 1400px) {
	.site-main-nonuser-inner {
		height: auto;
		padding: 15px;
	}
	.site-header.header-nonuser {
		position: relative;
		padding: 20px;
		text-align: center;
		justify-content: center;
	}
	.site_layout_nonuser header.site-header .logo {
		width: 10rem !important;
	}
	
}

@media screen and (max-width: 768px) {
	.site-main-nonuser-inner {	padding: 0;}
	.view-only-mode {padding: 0 15px 30px; height: auto;}

	.site_layout_nonuser .viewpost .post_gallery .slide_item {
		border-radius: 0;
	}
	.site_layout_nonuser .viewpost .inner-container {
		border-radius: 0;
		padding: 0;
	}
	.site-main-nonuser.postloader .viewpost .inner-container::before {
		border-radius: 0;
	}
	.site-main-nonuser.postloader .viewpost .inner-container::after {
	
		width: 150px;
		height: 150px;
		
	}
	.site_layout_nonuser .viewpost .post_gallery .slide_item .zoom {
		display: none;
	}
	
}