
/* .previewPost .inner-container {
    height: 70vh;
    border-radius: 70px;
    background: var(--dark-inactive);
    display: flex;
    padding: 60px;
    justify-content: space-between;
    align-items: flex-end;
    gap: 50px;
    position: relative;
    margin-top: 100px;
}

.previewPost .previewPost-left {
    display: flex;
    flex: 2 1 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.previewPost .previewPost-right {
   display: flex;
   flex: 1.8 1 0;
   flex-direction: column;
   align-self: stretch;
}

.previewPost .inner-container .btClose {
    z-index: 2;
}

.previewPost .post_gallery {
    display: flex;
    align-items: flex-start;
    height: calc(100% - 50px);
    width: 100%;
    position: relative;
    overflow: hidden;
}

.previewPost[content="text"] .previewPost-right .post_content{
  display: none;
}
.previewPost[content="text"] .previewPost-left .post_gallery {
  display: none;
}



.previewPost .postview_footer {
    display: flex;
    gap: 40px;
    width: 100%;
} */

.previewPost .social {
  display: flex;
  margin: 0;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: auto;
  gap: 30px;
}

.previewPost .social div.post-view {
  order: 4;
  margin-left: auto;
  flex-direction: row-reverse;
}

.previewPost .social div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.previewPost .social div i {
  line-height: 0;
}

.fi-rr-eye::before {
  content: "\e725";
}

i[class*=" fi-rr-"]::before {
  font-family: uicons-regular-rounded !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}
.fi-rr-heart::before {
  content: "\e9a1";
}

.fi-rr-heart-crack::before {
  content: "\e9a5";
}

.fi-rr-comment-dots::before {
  content: "\e4f9";
}

.previewPost .postview_footer .more {
  position: relative;
}

.previewPost .postview_footer .more a.morebtn {
  text-decoration: none;
  color: var(--white);
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  transition: all 0.3s;
}

.previewPost .postview_footer .more a.morebtn span.dots {
  position: relative;
  border: 3px solid;
  display: inline-block;
  border-radius: 100px;
  margin-left: 30px;
}

.previewPost .postview_footer .more a.morebtn span.dots::before{
  content: "";
  display: inline-block;
  border: 3px solid;
  position: absolute;
  border-radius: 100%;
  top: -3px;
  left: -12px;
}

.previewPost .postview_footer .more a.morebtn span.dots::after {
  content: "";
  display: inline-block;
  border: 3px solid;
  position: absolute;
  border-radius: 100%;
  top: -3px;
  left: -21px;
}

.previewPost .postview_footer .more ul.sublist {
  position: absolute;
  bottom: -7px;
  width: 350px;
  right: -40px;
  border-radius: 50px;
  background: var(--dark-inactive, #323232);
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.50);
  display: flex;
  padding: 40px 40px 80px;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 20px;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.previewPost .postview_footer .more ul.sublist li {
  width: 100%;
}

.previewPost .postview_footer .more ul.sublist li a.reportpost {
  border-color: var(--red-accent, #FF3B3B);
  color: var(--red-accent, #FF3B3B);
}
.previewPost .postview_footer .more ul.sublist li a {
  border-radius: 70px;
  color: var(--white);
  border: 2px solid var(--white, #FFF);
  backdrop-filter: blur(10px);
  display: flex;
  width: 100%;
  line-height: 60px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  text-align: center;
}

.previewPost .postview_footer .more ul.sublist li a i {
  line-height: 0;
}

.fi-rr-triangle-warning::before {
  content: "\f340";
}

.fi-rr-down-to-line::before {
  content: "\e67d";
}

.fi-rr-share-square::before {
  content: "\f046";
}

.fi-rr-bookmark::before {
  content: "\e239";
}

.previewPost .previewPost-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: stretch;
}

.previewPost .profile-header-left .post-userImg,
  .previewPost .comment_list .commenter-pic  img {
    width: 4rem;
    
}

.previewPost .post_gallery.multi .slider-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}

.previewPost .post_gallery .slider-wrapper {
	display: flex;
	height: 100%;
}
.previewPost .post_gallery .slide_item {
	display: flex;
	border-radius: 40px;
	overflow: hidden;
	max-height: 100%;
	position: relative;
}
.previewPost .post_gallery .slide_item img {
	display: block;
	max-height: 100%;
	height: auto;
	max-width: 100%;
	width: auto;
	scroll-snap-align: start;
	object-fit: cover;
}
.previewPost .post_gallery .slide_item .zoom {
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 3;
	right: 20px;
	bottom: 30px;
	border-radius: 70px;
	background: var(--dark-inactive, #323232);
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s linear;
	
}
.previewPost .post_gallery .slide_item .zoom i {
	line-height: 0;
}
.previewPost .post_gallery .slide_item .zoom:hover {
	background: var(--white-secondary, rgba(255, 255, 255, 0.50));
	color: var(--black,#000);
}

.previewPost .post_gallery.multi .slider-wrapper .slider-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  gap: 30px;
  align-items: flex-start;
  will-change: transform;
  height: calc(100% - 110px);
}

.previewPost .post_gallery.multi .slider-wrapper .slide_item {
	
	flex-shrink: 0;
	width: auto;
	max-width: 100%;
	height: 100%;
	display: flex;
	scroll-snap-align: start;
	
}
.previewPost .post_gallery.multi .slider-wrapper .slide_item img {
	display: block;
	max-height: 100%;
	height: auto;
	max-width: 100%;
	width: 100%;
	scroll-snap-align: start;
	object-fit: cover;
}
.previewPost .post_gallery .slider-wrapper .slider-thumbnails{
	display: none;
	gap: 10px;
	max-width: 100%;
	width: 100%;
	position: relative;
}
.previewPost .post_gallery.multi .slider-wrapper .slider-thumbnails {
	display: flex;
	
}
.previewPost .post_gallery .slider-wrapper .slider-thumbnails .timg{
	display: flex;
	position: relative;
	cursor: pointer;
	opacity: 0.3;
	transition: border 0.3s, opacity 0.3s;
}
.previewPost .post_gallery .slider-wrapper .slider-thumbnails .timg i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 24px;
	z-index: 1;
}
.previewPost .post_gallery .slider-wrapper .slider-thumbnails .timg.active i.fi-sr-play::before {
  content: "\ed86";
}

.previewPost .post_gallery .slider-wrapper .slider-thumbnails img {
	
	width: auto;
	height: 70px;
	object-fit: cover;
	
	border-radius: 10px;
	position: relative;

}
.previewPost .post_gallery .slider-wrapper .slider-thumbnails .timg.active,
.previewPost .post_gallery .slider-wrapper .slider-thumbnails .timg:hover {
	opacity: 1;
}
/*---- End Multi Images carousle -----*/

.post_gallery.video video  {
	max-height: 100%;
	height: auto;
	max-width: 100%;
  width: auto;
	
	scroll-snap-align: start;
	
}
.post_gallery.video video  {
	object-fit: cover;
	
  width: 100%;
}

.post_gallery.audio .audio-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	height: 100%;
	border-radius: 70px;
	overflow: hidden;
	padding: 0;
	background-image: url(../img/audio-bg.png);
	background-size: cover;
	background-position: center center;
	background-repeat: none;
}
.post_gallery.audio  .audio-item img.cover {
	
	height: 100%;

	width: 100%;
	object-fit: cover;
	
}
.post_gallery.audio .audio-item .audio_player_con {
	background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,0.55) 50%,rgba(3,4,5,0.56) 51%,rgba(125,185,232,0) 100%);
	display: flex;
	align-items: center;
  justify-content: center;
	gap: 20px;
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
  position: absolute;
  top: 50%;
}

.post_gallery.audio #waveform-preview {
	width: auto;
	flex: 1;
}
.post_gallery.audio #play-pause {
	height: 200px;
	aspect-ratio: 1 / 1 !important;
	background: url("../svg/play.svg") no-repeat center;
	background-size: 94%;
	border: 0;
	padding: 0;
	margin: 0;
}


.post_gallery.audio #play-pause.paused {
  background-image: url("../svg/pause.svg");
}

/*---- Slider Popup -----------*/
.slider-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  flex-direction: column;
}
.slider-modal::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	backdrop-filter: blur(5px);
	background: #00000082;
}
.slider-modal .inner {
	display: flex;
	gap: 40px;
	align-items: center;
}
.slider-modal.hidden {
  display: none;
}

.slider-modal-content {
  position: relative;
   display: flex;
  overflow: hidden;
  transition: all 0.3s linear;
}

.slider-modal .modal-slider-track {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}


.slider-modal .modal-slider-track img {
  max-height: 70vh;
  max-width: 100%;
  object-fit: contain;
  flex-shrink: 0;
  min-width: 100%;
  opacity: 0;
  transition: all 0.3s;
}
.slider-modal .modal-slider-track img.active {
	opacity: 1;
}


.slider-modal .modal-nav {
	color: white;
	border: none;
	font-size: 20px;
	cursor: pointer;
	z-index: 1;
	border-radius: 300px;
	background: var(--black-dark, #252525);
	display: flex ;
	width: 60px;
	height: 60px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	aspect-ratio: 1/1;
	line-height: 0;
}



.slider-modal .close-modal {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.slider-modal .modal-thumbnails {
	display: flex;
	justify-content: center;
	gap: 20px;
	
	max-width: 100%;
	width: 100%;
	position: relative;
}

.slider-modal .modal-thumbnail {
	width: auto;
	height: 60px;
	object-fit: cover;
	cursor: pointer;
	opacity: 0.3;
	
	transition: border 0.3s, opacity 0.3s;
	border-radius: 10px;
	position: relative;
}

.slider-modal .modal-thumbnail.active {
 
  opacity: 1;
}
/*---- End: Slider Popup -----------*/

.previewPost .profile-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 30px;
}

.post-userImg.profile-picture {
  width: 3rem;
}

.previewPost .profile-header-left {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  flex: 1;
}

.previewPost .profile-header-right {
  flex: 0.3;
}

.previewPost .profile-header-left .username-slug span {
  display: block;
}

.previewPost .profile-header-left .username-slug span.profile_id {
  font-style: normal;
}

.previewPost .post_content .post_title {
  padding-right: 60px;
  position: relative;
}

.previewPost .post_content .post_title .xxl_font_size {
  margin-bottom: 0;
}

.previewPost .post_content .post_title span.timeagao {
  position: absolute;
  right: 14px;
  bottom: 5px;
}

.previewPost .post_content .post_text {
  margin-top: 16px;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-word;
}

.previewPost .post_content .hashtags {
  margin-top: 20px;
  margin-bottom: 30px;
}

.previewPost .post_content .hashtags span {
	padding-right: 12px;
	display: inline-block;
	padding-bottom: 7px;
}

.comments-container {
  height: 100%;
  flex-direction: column;
  display: flex;
  width: 100%;
  position: relative;
  flex-grow: 1;
}

.comments-container .comments-header {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.fi-sr-comment-dots::before {
  content: "\e4f9";
}

.comments-container .comments-header .cmt-scroll {
  margin-left: auto;
}

.comment_list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 0;
  flex-shrink: 1;
  flex-direction: column;
  display: flex;
  position: relative;
  flex-grow: 1;
  margin-bottom: 30px;
}

.comment_list .inner {
  border: 0;
  box-sizing: content-box;
  flex-grow: 1;
  height: calc(100% - 32px);
  left: 0;
  margin: 0;
  overflow-y: scroll;
  padding: 16px;
  position: absolute;
  scrollbar-width: none;
  width: calc(100% - 32px);
}

.comment_list .comment_item {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
  align-items: flex-start;
}

.comment_list .comment_item .comment_body {
  flex: 1;
}

.comment_list .comment_item .commenter_info {
  margin-bottom: 10px;
}

.comment_list .comment_item .comment_reply_container {
  margin-top: 10px;
}

.comment_list .comment_item .comment_reply_container .reply_btn,
.comment_list .comment_item .comment_reply_container .show_reply {
  display: block;
  margin-bottom: 20px;
}

.comment_list .comment_item .comment_reply_container .reply_btn a {
  text-decoration: none;
  color: var(--white);
  position: relative;
}

.comment_list .comment_item .comment_reply_container .reply_btn a span {
  position: relative;
  border: 3px solid;
  display: inline-block;
  border-radius: 100px;
  margin-left: 60px;
}

.comment_list .comment_item .comment_reply_container .reply_btn a span::before {
  content: "";
  display: inline-block;
  border: 3px solid;
  position: absolute;
  border-radius: 100%;
  top: -3px;
  left: -35px;
}

.comment_list .comment_item .comment_reply_container .reply_btn a span::after {
  content: "";
  display: inline-block;
  border: 3px solid;
  position: absolute;
  border-radius: 100%;
  top: -3px;
  left: -35px;
  left: -20px;
}

.comment_list .comment_item .comment_like {
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.comment_list .comment_item .comment_like i {
  line-height: 0;
}

.post_comment {
  margin-top: auto;
  display: flex;
  padding: 10px 10px 10px 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 196px;
  background: var(--black-dark, #252525);
  box-shadow: 4px 0px 43.4px 12px rgba(0, 0, 0, 0.10);
}

.post_comment textarea {
  border-radius: 0;
  padding: 0;
  height: 20px;
  background: transparent;
  resize: none;
  line-height: 0.9;
}

.post_comment button {
  margin: 0;
  border-radius: 80px;
  background: var(--white-secondary, rgba(255, 255, 255, 0.50));
  display: flex;
  width: 54px;
  height: 54px;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  aspect-ratio: 1/1;
  border: 0;
  color: var(--black,#000);
}

.post_comment button i {
  line-height: 0;
  font-size: 30px;
}

.previewPost .inner-container .btClose {
  z-index: 2;
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  padding: 0.5rem;
  transform: rotateZ(45deg);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: auto;
  cursor: pointer;
}


/*
@media screen and (min-width: 2000px) {
  .previewPost .post_content .post_title {
    padding-right: 100px;
    
  }
  
  .previewPost .inner-container {
    width: 85vw;
  }
  .previewPost .profile-header-right .follow-button {
    min-width: 180px;
    line-height: 45px;
    border-width: 2px;
  }
 .comment_list .comment_item {
    gap: 20px;
  }
  .comment_list .comment_item .timeagao {
    
    padding-left: 30px;
  }
  .comment_list .comment_item .timeagao::before {
		border-width: 3px;
	  left: 11px;
	  top: 10px;
  }
  
  .comment_list .comment_item .commenter_info {
    margin-bottom: 15px;
  }
  .comment_list .comment_item .comment_reply_container {
    margin-top: 15px;
  }
  .post_comment {
	  height: 130px;
  }
  .post_comment button {	width: 76px;	padding: 15px; height: 76px;}
  .post_comment textarea {	height: 26px;}
  .post_comment button i {
	  
	  font-size: 65px;
  }
  .previewPost .post_gallery {
	height: calc(100% - 100px);
	
	}
	.previewPost .post_gallery.multi .slider-wrapper {
		gap: 40px;
		
	}
  	.previewPost .post_gallery.multi .slider-wrapper  .slider-track {
	height: calc(100% - 200px);
	}

  
  .previewPost .post_gallery .slider-wrapper .slider-thumbnails {
	gap: 20px;
	}
	.previewPost .post_gallery .slider-wrapper .slider-thumbnails img {
		
		height: 90px;
		border-radius: 10px;
	}
	.previewPost .post_gallery .image_item .zoom {
	
		width: 100px;
		height: 100px;
		
		right: 30px;
		bottom: 50px;
		
		font-size: 40px;
		
		
	}
	.slider-modal .modal-nav {
		font-size: 30px;
		
		width: 100px;
		height: 100px;
		
	}
	.slider-modal .modal-thumbnail {
		height: 90px;
		border-radius: 15px;
	}
   
}*/

/*-- changed min-width 3000px to 1000px becuase we are now use 4k css with zoom --*/
@media screen and (min-width: 1000px) {
  .previewPost .post_content .post_title {
    padding-right: 150px;
    }
  .previewPost .post_content .post_text {
    margin-top: 30px;
  }
  .previewPost .inner-container {
    width: 68vw;
  }

  .previewPost .profile-header-left .post-userImg,
  .previewPost .comment_list .commenter-pic  img {
    width: 8rem;
    
  }
  
  .previewPost .profile-header-right .follow-button {
    min-width: 250px;
    line-height: 66px;
    border-width: 3px;
  
  }
  .comment_list .comment_item {
    gap: 40px;
  }
  .comment_list .comment_item .timeagao {
    
    padding-left: 40px;
  }
  .comment_list .comment_item .timeagao::before {
		border-width: 5px;
	  left: 16px;
	  top: 15px;
  }
  .comment_list .comment_item .commenter_info {
    margin-bottom: 27px;
  }
  .comment_list .comment_item .comment_reply_container {
    margin-top: 30px;
  }
  .comment_list .comment_item .comment_reply_container .reply_btn a span,
  .previewPost .postview_footer .more a.morebtn span.dots {
	 border-width: 5px;
    margin-left: 80px;
  }
  .comment_list .comment_item .comment_reply_container .reply_btn a span::before, 
  .comment_list .comment_item .comment_reply_container .reply_btn a span::after ,
  .previewPost .postview_footer .more a.morebtn span.dots::before, 
  .previewPost .postview_footer .more a.morebtn span.dots::after{
    
    top: -4px;
    left: -35px;
    border-width: 5px;
  }
  .comment_list .comment_item .comment_reply_container .reply_btn a span::after,
  .previewPost .postview_footer .more a.morebtn span.dots::after {
    left: -20px;
  }
  
  .post_comment button {
    width: 110px;
    padding: 24px;
    height: 110px;
	
  }
  .post_comment textarea {	height: 40px;}
  .previewPost .postview_footer .more ul.sublist 
  {
	  width: 500px;
    padding: 40px 40px 80px;
  }
  .previewPost .postview_footer .more ul.sublist li a {
  line-height: 130px;
  }

  .slider-modal .modal-nav {
	width: 150px;
	height: 150px;
	font-size: 55px;
	}
	.slider-modal .modal-thumbnail {
		height: 140px;
		border-radius: 20px;
	}
  
}