:root {
  color-scheme: light dark;
  --input-background: hsl(0, 0%, 85%);
  --input-textcolor: hsl(212, 100%, 3%);
  --input_placeholder: hsl(0, 0%, 22%);
  --background-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 100%, 99%);
  --gradient1: hsl(195, 100%, 55%);
  --gradient2: hsl(220, 72%, 56%);
  --button-bg: hsl(218, 100%, 50%);
  --button-color: white;
  --button-hover: hsl(210, 100%, 75%);
  --link-color: hsl(192, 70%, 75%);
  --white-opacity-50: hsla(0, 0%, 100%, 0.5);
  --black-opacity-50: hsla(0, 0%, 0%, 0.5);
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background-color: hsl(0, 100%, 99%);
    --text-color: hsl(0, 0%, 15%);
  }
} */

<<<<<<< HEAD
/* Schriftart lokal im CSS einbinden */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
=======

>>>>>>> 2549ae380ddaa952504a38d8a0151f559b756297

html {
  scroll-behavior: smooth;
  font-size: clamp(12px, 3vmax, 1.6rem);
}

body {
  font-family: "Poppins", sans-serif;
<<<<<<< HEAD
=======
  font-size: 18px;
>>>>>>> 2549ae380ddaa952504a38d8a0151f559b756297
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
  display: grid;
  grid-template-areas: "bild form";
  grid-template-columns: 60% 40%;
  /* grid-template-rows: 100vh; */
  justify-content: center;
  height: 100vh;
  /* scrollbar-width: none; */
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media (orientation: portrait) {
  body {
    grid-template-areas: "form";
    grid-template-columns: 1fr;
    /* grid-template-columns: min(100%, 30rem) 0 0; */
    gap: 0;
  }

  .bild {
    display: none;
  }

  .heading {
    max-width: 30rem;
  }
}

.bild {
  grid-area: bild;
  border-radius: 0 5.8vw 5.8vw 0;
  position: relative;
  background: linear-gradient(-45deg, var(--gradient1), var(--gradient2), var(--gradient1));
  background-size: 200% 200%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

/* .bild svg {
    border-radius: 0 5.8vw 5.8vw 0;
} */

.logo {
  position: absolute;
  width: 12%;
  height: auto;
  right: -3%;
  bottom: 14%;
  animation: tock 6s ease-out 2.14s forwards;
  will-change: transform;
}

@keyframes tock {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  50% {
    transform: translateX(195%) rotate(360deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../svg/blueglow1.svg') no-repeat bottom left;
  background-size: contain;
  overflow-y: auto;
}

.container{
  background: url('../svg/blueglow.svg') no-repeat top right;
  background-size: contain;
}



.form-container {
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  height: 100%;
}
.form-container.hide{
  display: none;
}

.heading {
  font-weight: 400;
  font-size: clamp(1rem, 6vh, 2rem);
  line-height: 2.5rem;
  letter-spacing: 2%;
  margin-bottom: 0.5rem;
}

.waving-hand {
  display: inline-block;
  animation: wave 15s ease-in-out infinite;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  2% { transform: rotate(14deg); }
  4% { transform: rotate(-8deg); }
  6% { transform: rotate(14deg); }
  8% { transform: rotate(-4deg); }
  10% { transform: rotate(10deg); }
  12% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}



.peerLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.peerLogo img {
  width: 1.7rem;
}

.peerLogo h1 {
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.rem-for {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.rem-for label{
  display: flex;
  flex-direction: row;
  position: static !important;
  color: var(--white-opacity-50);
  background: none;
  font-size: 0.6rem;
  font-weight: 400;
  align-items: center;
}

.rem-for input {
  width: 0.7rem;
  height: 0.7rem;
  border: 1px solid var(--white-opacity-50);
}

.reg {
  background: var(--input-background) !important;
  color: var(--background-color) !important;
  align-items: center;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.reg img {
  width: 0.9rem;
}

.reg:hover img {
  filter: invert(1) brightness(2);
}

.reg:hover {
  background: var(--button-bg) !important;
  color: var(--button-color) !important;
}

.description {
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 0.8rem;
  letter-spacing: 2%;
  max-width: 20rem;
  color: var( --white-opacity-50);
}

.br {
  min-height: 0.6rem;
}

.footer p {
  color: var(--white-opacity-50);
  font-size: 0.6rem;
}

.footer a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.6rem;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s;
    font-size: 0.8rem !important;
  }
}

.input-field {
  display: flex;
  background: var(--input-background);
  border-radius: 800px;
  margin: 0.3rem 0;
  position: relative;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
}

.input-field img {
  width: 1.1rem;
}

.input-text {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--input-textcolor);
  width: 100%;
  border: none;
  background-color: transparent !important;
  caret-color: #000;
  line-height: 50px;
}

.button {
  width: 100%;
  background: var(--button-bg);
  border-radius: 800px;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--button-color);
  margin: 1.7rem 0;
  cursor: pointer;
  transform-origin: 100% 100%;
  border: none;
  line-height: 50px;
}
a.button {
	text-decoration: none;
	display: inline-block;
  text-align: center;
}
a.disable {
	cursor: not-allowed;
	pointer-events: none;
}
.button:disabled {
	cursor: not-allowed;
}
.button:hover {
  background: var(--text-color);
  color: var(--background-color);
}

.signIn {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.link {
  font-weight: 400;
  letter-spacing: 2%;
  font-size: 0.6rem;
  text-decoration: underline;
  color: var( --white-opacity-50);
}

input::placeholder {
  color: var( --black-opacity-50);
  font-weight: 400;
  letter-spacing: 2%;
}

input:focus {
  background-color: transparent;
  border: none;
  outline: none;
}

body::-webkit-scrollbar {
  display: none;
}

.phone {
  width: 33%;
  height: 66%;
  max-height: 50vw;
  max-width: 30vh;
  background: hsl(0, 0%, 13%);
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 20px 40px hsla(0, 0%, 0%, 0.2);
  perspective: 1000px;
  transform: rotateX(15deg) rotateY(-15deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 14%;
  left: 33%;
  animation: infinite-slide 3s ease-in-out forwards;
  box-shadow: #35d 11px 11px 25px;
}

.screen {
  border-radius: 20px;
  flex: 1;
  box-shadow: inset 0 5px 10px hsla(0, 0%, 0%, 0.3);
  /* background: url(../img/register.webp); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.screen img {
  width: 100%;
  /* or any custom size */
  height: 100%;
  object-fit: cover;
}

.home-button {
  width: 40px;
  height: 40px;
  background: hsl(0, 0%, 27%);
  border-radius: 50%;
  margin: 10px auto;
  box-shadow: inset 0 2px 5px hsla(0, 0%, 0%, 0.5);
}

@media (max-width: 1500px) {
  .heading {
    font-size: clamp(0.6rem, 4vh, 1.4rem);
    line-height: 1.5rem;
  }

  .input-text,
  .button {
    line-height: 40px;
    font-size: clamp(0.6rem, 1vw, 0.8rem);
  }

  .input-field img {
    width: clamp(0.8rem, 1vw, 1.1rem);
  }

  .button img {
    width: clamp(0.6rem, 1vw, 0.9rem);
  }

  .button {
    margin: 0.8rem 0;
  }

  .rem-for label,
  .link{
    font-size: clamp(0.5rem, 1vw, 0.6rem);
  }

  .footer p,
  .footer a {
    font-size: clamp(0.4rem, 1vw, 0.6rem);
  }

  
}

@keyframes infinite-slide {
  0% {
    transform: translateX(0) scale(1) rotate(0deg) skew(0deg, 0deg);
  }

  25% {
    transform: translateX(0) scale(1.3) rotate(12deg) skew(2deg, 0deg);
  }

  75% {
    transform: translateX(4vw) scale(1.3) rotate(-12deg) skew(-2deg, 0deg);
  }

  100% {
    transform: translateX(0) scale(1) rotate(0deg) skew(0deg, 0deg);
  }
}

.home-button img {
  width: 100%;
  height: auto;
}

.vector {
  width: 100%;
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.buttons {
  width: 105%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: -3%;
  top: 0;
  align-items: center;
}

.buttons img {
  width: 20%;
  height: auto;
  /* transform-origin: 50% 50%;
    transform: scale(1.5) translateX(-0%); */
}

.buttons img:nth-child(3) {
  transform: scale(0.88) translate(4.2%, -5.8%);
}

/* .buttons img:nth-child(1){
    margin-left: 0%;
}
.buttons img:nth-child(3){
    margin-left: -4%;
}
.buttons img:nth-child(2){
    margin-left: -4%;
} */
.buttons img:nth-child(3):hover {
  filter: drop-shadow(0 0 24px #fff);
  cursor: pointer;
  animation: huhu3 1s ease 0s;
  transform-origin: 50% 50%;
}

@keyframes huhu3 {
  0% {
    transform: scale(1.05) translate(4.2%, -5.8%);
  }

  25% {
    transform: scale(0.95) translate(4.2%, -5.8%);
  }

  75% {
    transform: scale(1.07) translate(4.2%, -5.8%);
  }

  100% {
    transform: scale(1) translate(4.2%, -5.8%);
  }
}

.buttons img:hover {
  filter: drop-shadow(0 0 24px #fff);
  cursor: pointer;
  animation: huhu 1s ease 0s;
  transform-origin: 50% 50%;
}

@keyframes huhu {
  0% {
    transform: scale(1.05);
  }

  25% {
    transform: scale(0.95);
  }

  75% {
    transform: scale(1.07);
  }

  100% {
    transform: scale(1);
  }
}

.bubbles {
  width: 100%;
  height: auto;
}

.line-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: var( --white-opacity-50);
}

.line-with-text::before,
.line-with-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--white-opacity-50);
  /* width: 10vw; */
}

.line-with-text::before {
  margin-right: 10px;
}

.line-with-text::after {
  margin-left: 10px;
}

.line-with-text span {
  font-weight: bold;
  padding: 0 10px;
  color: var( --white-opacity-50);
}

label {
  position: absolute;
  top: 100%;
  font-size: x-small;
  left: 7%;
  /* color: red; */
  background: red;
  width: 100%;
  padding: 0;
  border-radius: 0 0 6px 6px;
  height: 0;
  transition-property: height;
  transition-duration: 1s;
}

#validationMessage {
	color: red;
	transition-property: color;
	transition-duration: 1s;
	transition-delay: 0s;
	max-width: 700px;
	font-size: 16px;
	line-height: 18px;
}

.notvalid,.error {
  
  color: red;
  
}

input:focus + label {
  display: none;
}

.input-field.focused .email-icon{
  opacity: 0;
  pointer-events: none;
}

.password-field.focused .password-icon{
  opacity: 0;
  pointer-events: none;
}

.input-field.focused {
  padding: 0 1rem 0 0;
}

.input-field.valid .tick {
  filter: brightness(0) saturate(100%) invert(48%) sepia(91%) saturate(363%) hue-rotate(63deg) brightness(92%) contrast(92%);
}

.tick {
  opacity: 0.5;
}

.seePass {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.valid {
  border: 2px solid green;
  background-color: #e0ffe0;
  /* Hellgrüner Hintergrund */
}

/* Stil für ungültige E-Mail */
.invalid {
  border: 2px solid red;
  background-color: #ffe0e0;
  /* Hellroter Hintergrund */
}
.checkbox {
  display: none;
}
.disclaimer-container {
  position: fixed;
  width: 100%;
  left: 0%;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.disclaimer {
  width: 80%;
  height: auto;
}
.checkbox:checked + .disclaimer-container {
  display: none;
}
/*----Forget Password----*/
.form-container .input-field{

  position: relative;
}
.form-container .input-field .loader{
  display: none;
}
.form-container .input-field .loader.active
{
  display: block;
}
