/*----------- Edit Profile Page ------------------------*/
.setting-page .main{ margin-top: 0;}
.setting-layout {
	margin: 0 50px;
	
	display: flex;
	flex-wrap: wrap;
	-moz-box-pack: justify;
	justify-content: space-between;
	-moz-box-align: stretch;
	align-items: stretch;
	width: 100%;
	
}
.setting-layout .setting-menu{
	width: 30%;
	position: relative;
}

.setting-layout .setting-content {
	
	
	width: 65%;
	box-sizing: border-box;
	
	z-index: 1;
}

.setting-layout .setting-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.setting-layout .setting-menu ul li {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
}

.setting-layout .setting-menu ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	
	padding: 0 30px;
	line-height: 60px;
	border-radius: 50px;
	
}
.setting-layout .setting-menu ul li a:hover,
.setting-layout .setting-menu ul li.active a {
	
	background-color: var(--bg-filter);
	
	
}
.setting-layout .setting-content .profile-widget {
	display: none;
}
.setting-layout .setting-content .profile-widget.active {
	display: block;
}

.setting-content .edit-profile {
	margin-bottom: 1.5rem;
}

.setting-content .edit-profile .section_heading{
	margin-bottom: 1.5rem;
}

.setting-content .edit-profile .profile_picture {
	display: flex; 
	align-items: center; 
	justify-content: space-between;
	margin-bottom: 1.5rem;
}
.setting-content .edit-profile .profile_picture img.profile-picture {
	width: 150px;
}
.setting-layout .setting-content .change-password-email {
	display: flex;
	justify-content: space-between;
}
.setting-layout .setting-content .change-password-email .button {
	width: 48%;
	margin-bottom: 1.5rem;
}
.setting-layout .setting-content .logout-deactivate-buttons .button {
	margin-bottom: 1.5rem;
}
.setting-layout button, .setting-layout .button,
.profile-back-button a{ 
	background-color: var(--bg-filter);
	color: var(--white);
	line-height: 60px;
	border-radius: 50px;
	padding: 0 30px;
	text-decoration: none;
	border: 1px solid var(--bg-filter);
	font-size: inherit;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}
.setting-layout button.btn-style-white,
.setting-layout .button.btn-style-white{
	background-color: var(--white);
	border-color: var(--white);
	color: var(--black);
}

.setting-layout button.btn-style-blue,
.setting-layout .button.btn-style-blue{
	background-color: var(--button-bg);
	border-color: var(--button-bg);
	color: var(--white);
}
.setting-layout button.btn-style-transparent,
.setting-layout .button.btn-style-transparent,
.profile-back-button a{
	background-color: transparent;
	border-color:var(--white);
	color: var(--white);
}
.setting-layout button.btn-style-transparent:hover,
.setting-layout .button.btn-style-transparent:hover,
.profile-back-button a:hover {
	background-color: var(--white);
	color: var(--black);
}
.setting-layout button.btn-style-red-border,
.setting-layout .button.btn-style-red-border{
	background-color: transparent;
	border-color: #FF3B3B;
	color: #FF3B3B;
}

.setting-layout button.btn-style-red-border:hover,
.setting-layout .button.btn-style-red-border:hover{
	background-color: #FF3B3B;
	border-color: #FF3B3B;
	color: var(--white);
}
.setting-layout button.btn-style-blue,
.setting-layout .button.btn-style-blue{
	background-color: #0069FF;
	border-color: #0069FF;
	color: var(--white);
}

.setting-layout button:disabled {
  cursor: not-allowed;       
}

#logOut{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .8rem;
}
#logOut img {
	width: 1.3rem;
}
#logOut:hover img {
	filter: brightness(0) invert(1);
}


.setting-layout button.full-width-btn,
.setting-layout .button.full-width-btn{ 
	display: block;
	width:100%;
}

.button.change-picture::after{
	content: "";
	display: inline-block;
	background-image: url(../svg/icon-camera.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-left: 15px;
}
.profile-back-button.hide{
	display: none;
}
.profile-back-button {
	width: 100%;
	margin-top: auto;
}
.profile-back-button a {
	display: block;
}

.setting-content .input-field {
	padding: 1rem 2rem;
	background: var(--bg-filter);
	border-radius: 50px;
	margin: 0 0 1.5rem 0;
	position: relative;
	display: flex;
	align-items: start;
}
.setting-content .input-field a#changeusernamebtn {
	margin-left: auto;
	color: #fff;
}
.setting-content .input-field label {
	margin-right: 20px;
	font-weight: 700;
	color: var(--stat-p);
}

.setting-content .input-field input,
.setting-content .input-field textarea {
	width: 100%;
	font-size: inherit;
	background-color: transparent;
	border: 0;
	color: #fff;
}

.setting-content .input-field input:focus-visible,
.setting-content .input-field textarea:focus-visible {
	border: 0;
	outline: 0;
}
.response_msg {
	text-align: center;
}
.response_msg.error {
	margin-bottom: 1.5rem;
	color: #FF3B3B;
}
.response_msg.success {
	margin-bottom: 1.5rem;
	color: rgba(170, 255, 103, 1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgb(37, 37, 37);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 500px;
  position: relative;
  box-shadow:none;
}
.modal-content .button-row {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.modal-content .button-row button{
	width: 46%;
}
.modal-content-heading{ text-align: left;}
.closeBtn {
  position: absolute;
  top: 23px; right: 20px;
  font-size: 24px;
  cursor: pointer;
}
.closeBtn img {
	width: 20px;
}
.image-preview-wrapper {
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-preview-wrapper img {
  max-width: 100%;
  transform-origin: center;
  transition: transform 0.3s ease;
}
