/*----------- Edit Profile Page ------------------------*/

.setting-layout {
	display: flex;
	flex-wrap: wrap;
	-moz-box-pack: justify;
	justify-content: space-between;
	-moz-box-align: stretch;
	align-items: stretch;
	width: 100%;
	
}
.setting-layout .setting-menu{
	width: 30%;
	position: relative;
}

.setting-layout .setting-content {
	width: 65%;
	box-sizing: border-box;
	z-index: 1;
}

.setting-layout .setting-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.setting-layout .setting-menu ul li {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
}

.setting-layout .setting-menu ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	
	padding: 0 30px;
	line-height: 60px;
	border-radius: 50px;
	
}
.setting-layout .setting-menu ul li a:hover,
.setting-layout .setting-menu ul li.active a {
	background-color: var(--bg-filter);
}