#profil-container {
  background: #0069FF;
  background-image: radial-gradient(circle at center, #00BEFF 0%, #553CFF 100%);
  border-radius: 70px;
  padding: 50px;
}

#info {
    display: flex;
    align-items: center;
    width: 100%; /* makes full width button */
}

#info i {
    margin-left: auto;
}
.profile_header .profile_picture {
	max-width: 275px;

}
.profile_edit_box #followbtn{ 
  margin-bottom: 0;
}
.profile_header .profile_edit_box .button{
  margin-bottom: 0;

}