.viewpost {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 5;
  background-color: #4848487d;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}


.viewpost .inner-container {
  width: 90vw;
  height: 90vh;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  position: fixed;
  z-index: 2;
  
   border-radius: 70px;
  background: var(--dark-inactive, #323232);

  display: flex;
  padding: 80px;
  justify-content: space-between;
  align-items: flex-start;
  gap:50px;
  
}
.viewpost .inner-container .btClose {
	z-index: 2;
	position: absolute;
	top: 2rem;
	right: 2rem;
	display: flex;
	padding: 0.5rem;
	transform: rotateZ(45deg);
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: auto;
	cursor: pointer;
}
.viewpost .viewpost-left{
  display: flex;
  width: 53%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  

}
.viewpost .viewpost-left .post_content {
	width: 100%;
}
.viewpost .viewpost-right{
  display: flex;
  flex: 1;
  flex-direction: column;
 
  align-self: stretch;

}
.viewpost[content="text"] .viewpost-right .post_content{
  display: none;
}

.viewpost .post_content .post_title{
  padding-right: 150px;
  position: relative;
}

.viewpost .post_content .post_title span.timeagao {
	position: absolute;
	right: 14px;
	bottom: 5px;
}
.viewpost .post_content .post_text{
  margin-top: 16px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  
}
.viewpost .post_content .hashtags {

  margin-top: 20px;
  margin-bottom: 30px;
}
.viewpost .post_content .hashtags span {
	padding-right: 12px;
	display: inline-block;
	padding-bottom: 7px;
}

.viewpost  .social{
	display: flex;
	
	margin: 0;
	flex-direction: row;
	align-items: center;
	width: 100%;
	margin-top: auto;
	gap: 5%;
}
.viewpost .social  div {
	display: flex;
	align-items: center;
	gap: 0.4rem;
  cursor: pointer;
}

.viewpost .social div i {
	line-height: 0;
}
.viewpost .social div.active i{
  color: red;
  animation: pulse 2s;
  
}
.viewpost .social div.post-like.active i::before {
	content: "\e9a1";
	font-family: uicons-solid-rounded !important;
	
  
}
.viewpost .social div.post-dislike.active i::before {
	content: "\e9a5";
	font-family: uicons-solid-rounded !important;

}


.viewpost  .social  div.post-view {
	order: 4;
	margin-left: auto;
	flex-direction: row-reverse;
	opacity: 0.5;
}





.viewpost .profile-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin-bottom: 30px;
}
.viewpost .profile-header-left {
	display: flex;
	align-items: center;
	gap: 20px;
  cursor: pointer;
}


.viewpost .profile-header-left .username-slug span {
	display: block;
}
.viewpost .profile-header-left .username-slug span.profile_id{
  font-style: normal;

}
.profile-header-right .follow-button {
	
	line-height: 40px;
  min-width: 120px;
	padding: 0 16px;
	margin-bottom: 0;
	background-color: transparent;
	border-color: var(--white);
}

.viewpost .profile-header-left .post-userImg,
  .viewpost .comment_list .commenter-pic  img {
    width: 4rem;
    
  }


.viewpost .post_gallery {

	height: calc(100% - 100px);
	width: 100%;
	position: relative;
}
.post_gallery.images img,
.post_gallery.video video  {
	max-height: 100%;
	height: auto;
	max-width: 100%;
  width: auto;
	
	border-radius: 70px;
	scroll-snap-align: start;
	
}
.post_gallery.video video  {
	object-fit: cover;
	position: absolute;
  width: 100%;
}

.post_gallery.audio  .audio-item{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  height: 100%;
  border-radius: 70px;
  overflow: hidden;

	background-image: url(../img/audio-bg.png);
	background-size: cover;
	background-position: center center;
	background-repeat: none;
}
.post_gallery.audio  .audio-item img.cover {
	
	height: 100%;

	width: 100%;
	object-fit: cover;
	
}
.post_gallery.audio .audio-item canvas {
  width: 48%;
  height: 10%;
  top: 70%;
  position: absolute;
  left: 32%;
}
.post_gallery.audio #play-pause {
  position: absolute;
  top: 70%;
  /* right: 9dvw; */
  height: 10%;
  aspect-ratio: 1 / 1 !important;
  background: url("../svg/play.svg") no-repeat center;
  border: none;
  background-size: 50% 50%;
  /* max-width: 10%; */
  left: 80%;
}
.post_gallery.audio #play-pause::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 0.5%;
  background: linear-gradient(to left, white, transparent);
  -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 0.5%), white 100%);
  mask: radial-gradient(farthest-side, transparent 85%, white 100%);
  pointer-events: none;
}

.post_gallery.audio #play-pause.paused {
  background-image: url("../svg/pause.svg");
}

.comments-container {
	height: 100%;
	flex-direction: column;
	display: flex;
	width: 100%;
	position: relative;
	flex-grow: 1;
}

.comments-container .comments-header {
	display: flex;
	gap: 20px;
	align-items: baseline;
}
.comments-container .comments-header   .comment_conter{ 
  position: relative;
}

.comments-container .comments-header .cmt-scroll{
  margin-left: auto;
}
.comment_list {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 0;
	flex-shrink: 1;
	flex-direction: column;
	display: flex;
	position: relative;
	flex-grow: 1;
  margin-bottom: 30px;
}
.comment_list .inner {
	border: 0;
	box-sizing: content-box;
	flex-grow: 1;
	height: calc(100% - 32px);
	left: 0;
	margin: 0;
	overflow-y: scroll;
	padding: 16px;
	position: absolute;
	scrollbar-width: none;
	vertical-align: baseline;
	width: calc(100% - 32px);
}
.comment_list .comment_item {
	display: flex;
	gap: 12px;
  margin-bottom: 30px;
  align-items: flex-start;
}
.comment_list .comment_item .commenter-pic .profile-picture {
	cursor: pointer;
}
.comment_list .comment_item .comment_like {
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}
.comment_list .comment_item  .comment_like i {
	line-height: 0;
}
.comment_list .comment_item  .comment_like.active i{
  color: red;
  animation: pulse 2s;
  
}
.comment_list .comment_item  .comment_like.active i::before {
	content: "\e9a1";
	font-family: uicons-solid-rounded !important;
}

.comment_list .comment_item .comment_body {
	flex: 1;
}

.comment_list .comment_item .commenter_info {
	margin-bottom: 10px;
}
.comment_list .comment_item .timeagao {
	position: relative;
	padding-left: 20px;
}
.comment_list .comment_item .timeagao::before {
	content: "";
	border: 3px solid;
	border-radius: 100%;
	position: absolute;
	left: 8px;
	top: 11px;
}
.comment_list .comment_item .cmt_profile_id {
	padding-left: 10px;
}

.comment_list .comment_item .comment_reply_container{
  margin-top: 10px;
}
.comment_list .comment_item .comment_reply_container .reply_btn,
.comment_list .comment_item .comment_reply_container .show_reply  {
	display: block;
  margin-bottom: 20px;
}

.comment_list .comment_item .comment_reply_container  .reply_btn a {
	text-decoration: none;
	color: var(--white);
  position: relative;
}
.comment_list .comment_item .comment_reply_container  .reply_btn a:hover {
  color: var(--white-secondary);
}
.comment_list .comment_item .comment_reply_container .reply_btn a span {
	position: relative;
	border: 3px solid;
	display: inline-block;
	border-radius: 100px;
	margin-left: 60px;
}
.comment_list .comment_item .comment_reply_container .reply_btn a span::before,
.comment_list .comment_item .comment_reply_container .reply_btn a span::after {
	content: "";
	display: inline-block;
	border: 3px solid;
	position: absolute;
	border-radius: 100%;
	top: -4px;
	left: -35px;
}
.comment_list .comment_item .comment_reply_container .reply_btn a span::after {

	left: -20px;
}

.post_comment{
  margin-top: auto;
  display: flex;
  height: 100px;
  padding: 10px 10px 10px 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 196px;
  background: var(--black-dark, #252525);
  box-shadow: 4px 0px 43.4px 12px rgba(0, 0, 0, 0.10);
}

.post_comment textarea {
	border-radius: 0;
	padding: 0;
	height: 20px;
	background: transparent;
	resize: none;
	line-height: 0.9;
}
.post_comment button {
	margin: 0;
	border-radius: 80px;
	background: var(--white-secondary, rgba(255, 255, 255, 0.50));
	display: flex;
	width: 54px;
	padding: 12px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex: 1 0 0;
	aspect-ratio: 1/1;
	border: 0;
	color: var(--black,#000);
}

.post_comment button i {
	line-height: 0;
	font-size: 30px;
}
.post_comment:hover{
  background: var(--Field-Hover-Black, #393939);
}
.post_comment:hover button{
  background-color: #fff;
}

@media screen and (min-width: 2000px) {
  
  .viewpost .inner-container {
    width: 85vw;
  }
  .viewpost .profile-header-right .follow-button {
    min-width: 180px;
    line-height: 45px;
    border-width: 2px;
  }
 .comment_list .comment_item {
    gap: 20px;
  }
  .comment_list .comment_item .timeagao {
    
    padding-left: 30px;
  }
  .comment_list .comment_item .timeagao::before {
		border-width: 3px;
	  left: 11px;
	  top: 10px;
  }
  
  .comment_list .comment_item .commenter_info {
    margin-bottom: 15px;
  }
  .comment_list .comment_item .comment_reply_container {
    margin-top: 15px;
  }
  .post_comment {
	  height: 130px;
  }
  .post_comment button {	width: 76px;	padding: 15px;}
  .post_comment textarea {	height: 26px;}
  .post_comment button i {
	  
	  font-size: 65px;
  }
   
}


@media screen and (min-width: 3000px) {
  .viewpost .inner-container {
    width: 68vw;
  }

  .viewpost .profile-header-left .post-userImg,
  .viewpost .comment_list .commenter-pic  img {
    width: 8rem;
    
  }
  
  .viewpost .profile-header-right .follow-button {
    min-width: 250px;
    line-height: 66px;
    border-width: 3px;
  
  }
  .comment_list .comment_item {
    gap: 40px;
  }
  .comment_list .comment_item .timeagao {
    
    padding-left: 40px;
  }
  .comment_list .comment_item .timeagao::before {
		border-width: 5px;
	  left: 16px;
	  top: 15px;
  }
  .comment_list .comment_item .commenter_info {
    margin-bottom: 27px;
  }
  .comment_list .comment_item .comment_reply_container {
    margin-top: 30px;
  }
  .comment_list .comment_item .comment_reply_container .reply_btn a span {
	 border-width: 5px;
    margin-left: 80px;
  }
  .comment_list .comment_item .comment_reply_container .reply_btn a span::before, 
  .comment_list .comment_item .comment_reply_container .reply_btn a span::after {
    
    top: -4px;
    left: -35px;
    border-width: 5px;
  }
  .comment_list .comment_item .comment_reply_container .reply_btn a span::after {
    left: -20px;
  }
  
  .post_comment button {
    width: 110px;
    padding: 24px;
	
  }
  .post_comment textarea {	height: 40px;}

  
}