#audio-container {
    text-align: center;
    margin: 20px;
  }

  #play-pause {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #play-pause:hover {
    background-color: #0056b3;
  }

  #waveform-preview {
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80vw;
    height: 4rem;
  }