/* Übergeordneter Container als CSS Grid */
#gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px);
  position: relative;
  gap: 5px;
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
/* Verschiebbarer Container */
#draggable,
#resizable {
}
#draggable {
  top: 99px;
  left: 99px;
  width: 9px;
  height: 9px;
  background: lightblue;
  border: 1px solid #000;
  position: absolute;
  cursor: move;
}
/* Container, dessen Größe dynamisch geändert wird */
#resizable {
  width: 100px;
  height: 100px;
  background: lightgreen;
  border: 2px solid #000;
  transition: width 0.2s, height 0.2s;
}
